In [11]:
import pandas as pd 
import numpy as np

In [3]:
df = pd.read_csv("Phased_mutation_reveresed.csv")

In [4]:
df

,Unnamed: 0,strand_r1,CpG_Coordinates,X.000_r1,X.001_r1,X.010_r1,X.011_r1,X.100_r1,X.101_r1,X.110_r1,...,X.100,X.101,X.110,X.111,Sample_ID,Replicate,Tissue,unmethylated,methylated,total_value
0,1,r,10035:10044:10046,2049.0,14.0,8.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,49.0,Rep1,Islet,324.0,13.0,337.0
1,2,r,10035:10044:10046,2049.0,14.0,8.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,50.0,Rep1,Islet,280.0,9.0,289.0
2,3,r,10035:10044:10046,2049.0,14.0,8.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,51.0,Rep1,Islet,327.0,34.0,361.0
3,4,r,10035:10044:10046,2049.0,14.0,8.0,0.0,0.0,0.0,0.0,...,8.0,0.0,0.0,0.0,52.0,Rep1,Islet,311.0,22.0,333.0
4,5,r,10035:10044:10046,2049.0,14.0,8.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,53.0,Rep1,Islet,582.0,23.0,605.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1935006,1935007,NaN,8851:8958:8996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,69.0,Rep1,Islet,1.0,0.0,1.0
1935007,1935008,NaN,8851:8969:8996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,69.0,Rep1,Islet,1.0,0.0,1.0
1935008,1935009,NaN,8851:8972:8996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,69.0,Rep1,Islet,1.0,0.0,1.0
1935009,1935010,NaN,8851:8976:8996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,69.0,Rep1,Islet,1.0,0.0,1.0
1935010,1935011,NaN,8851:8994:8996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,69.0,Rep1,Islet,1.0,0.0,1.0

In [7]:
for col in df.columns:
    print(col)

Unnamed: 0
strand_r1
CpG_Coordinates
X.000_r1
X.001_r1
X.010_r1
X.011_r1
X.100_r1
X.101_r1
X.110_r1
X.111_r1
Sample_ID_r1
Replicate_r1
Tissue_r1
unmethylated_r1
methylated_r1
total_value_r1
strand_r2
X.000_r2
X.001_r2
X.010_r2
X.011_r2
X.100_r2
X.101_r2
X.110_r2
X.111_r2
Sample_ID_r2
Replicate_r2
Tissue_r2
unmethylated_r2
methylated_r2
total_value_r2
methylated_cfdna_avg
strand
X.000
X.001
X.010
X.011
X.100
X.101
X.110
X.111
Sample_ID
Replicate
Tissue
unmethylated
methylated
total_value

In [8]:
df2 = df[["CpG_Coordinates", "methylated_r1", "total_value_r1","methylated_r2", "total_value_r2", "methylated", "total_value"]]

In [10]:
df2

,CpG_Coordinates,methylated_r1,total_value_r1,methylated_r2,total_value_r2,methylated,total_value
0,10035:10044:10046,22.0,2071.0,13.0,1090.0,13.0,337.0
1,10035:10044:10046,22.0,2071.0,13.0,1090.0,9.0,289.0
2,10035:10044:10046,22.0,2071.0,13.0,1090.0,34.0,361.0
3,10035:10044:10046,22.0,2071.0,13.0,1090.0,22.0,333.0
4,10035:10044:10046,22.0,2071.0,13.0,1090.0,23.0,605.0
...,...,...,...,...,...,...,...
1935006,8851:8958:8996,NaN,NaN,NaN,NaN,0.0,1.0
1935007,8851:8969:8996,NaN,NaN,NaN,NaN,0.0,1.0
1935008,8851:8972:8996,NaN,NaN,NaN,NaN,0.0,1.0
1935009,8851:8976:8996,NaN,NaN,NaN,NaN,0.0,1.0
1935010,8851:8994:8996,NaN,NaN,NaN,NaN,0.0,1.0

In [12]:
df2 = df2.dropna()

In [13]:
df2

,CpG_Coordinates,methylated_r1,total_value_r1,methylated_r2,total_value_r2,methylated,total_value
0,10035:10044:10046,22.0,2071.0,13.0,1090.0,13.0,337.0
1,10035:10044:10046,22.0,2071.0,13.0,1090.0,9.0,289.0
2,10035:10044:10046,22.0,2071.0,13.0,1090.0,34.0,361.0
3,10035:10044:10046,22.0,2071.0,13.0,1090.0,22.0,333.0
4,10035:10044:10046,22.0,2071.0,13.0,1090.0,23.0,605.0
...,...,...,...,...,...,...,...
1934877,8361:8467:8508,0.0,2.0,0.0,2.0,0.0,1.0
1934878,8361:8474:8508,0.0,2.0,0.0,2.0,0.0,1.0
1934879,8361:8479:8508,0.0,2.0,0.0,2.0,0.0,1.0
1934880,8361:8490:8508,0.0,2.0,0.0,2.0,0.0,1.0
1934881,8361:8500:8508,0.0,2.0,0.0,2.0,0.0,1.0

In [14]:
# Compute `cfdna_vrf` column
df2['cfdna_vrf'] = ((df2['methylated_r1'] + df2['methylated_r2']) / 2) / (df2['total_value_r1'] + df2['total_value_r2'])

# Compute `islet_vrf` column
df2['islet_vrf'] = df2['methylated'] / df2['total_value']

C:\Users\dharm\AppData\Local\Temp\ipykernel_3796\3977875594.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['cfdna_vrf'] = ((df2['methylated_r1'] + df2['methylated_r2']) / 2) / (df2['total_value_r1'] + df2['total_value_r2'])
C:\Users\dharm\AppData\Local\Temp\ipykernel_3796\3977875594.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['islet_vrf'] = df2['methylated'] / df2['total_value']

In [15]:
df2

,CpG_Coordinates,methylated_r1,total_value_r1,methylated_r2,total_value_r2,methylated,total_value,cfdna_vrf,islet_vrf
0,10035:10044:10046,22.0,2071.0,13.0,1090.0,13.0,337.0,0.005536,0.038576
1,10035:10044:10046,22.0,2071.0,13.0,1090.0,9.0,289.0,0.005536,0.031142
2,10035:10044:10046,22.0,2071.0,13.0,1090.0,34.0,361.0,0.005536,0.094183
3,10035:10044:10046,22.0,2071.0,13.0,1090.0,22.0,333.0,0.005536,0.066066
4,10035:10044:10046,22.0,2071.0,13.0,1090.0,23.0,605.0,0.005536,0.038017
...,...,...,...,...,...,...,...,...,...
1934877,8361:8467:8508,0.0,2.0,0.0,2.0,0.0,1.0,0.000000,0.000000
1934878,8361:8474:8508,0.0,2.0,0.0,2.0,0.0,1.0,0.000000,0.000000
1934879,8361:8479:8508,0.0,2.0,0.0,2.0,0.0,1.0,0.000000,0.000000
1934880,8361:8490:8508,0.0,2.0,0.0,2.0,0.0,1.0,0.000000,0.000000
1934881,8361:8500:8508,0.0,2.0,0.0,2.0,0.0,1.0,0.000000,0.000000

In [16]:
df2["cfdna_vrf"].mean()

0.04355827613295664

In [17]:
df2["islet_vrf"].mean()

0.1521388723391547